*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #f95959;
    padding: 50px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: end;
}
.nav-menu{
    display: flex;
    gap: 40px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    padding: 200px;
}
.footer{
    background-color:#e3e3e3;
    padding: 30px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
       
}
.about{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
}
img{
    width: 450px;
    height: auto;
}
.para{
    padding: 100px;
}
.forms{
    background-color: lightgray;
}
.form{
    padding: 50px;
}
form{
    border: 2px solid black;
    padding: 20px;
    align-items: center;
    
}
input{
    width: 100%;
    padding: 12px;
}
textarea{
    width: 100%;
}
.button{
    width: 100%;
    margin: 10px;
    padding: 15px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.project1 div{
    display: flex;
    padding: 30px;
    align-items: center;
    
}
.project2 div{
    display: flex;
    padding: 30px;
    align-items: center;
}
.project3 div{
    display: flex;
    padding: 30px;
    align-items: center;
}